.store-box {
  width: 50%;
}

.title-store {
  margin: 0;
  width: 100%;
}
.line-store {
  width: 100%;
  margin: 0 0 10px 0;
}
.content-store {
  height: 100%;
  animation: fadein 0.5s;
  padding-top: 10px;
  width: 90%;
  box-shadow: 1px 1px 6px black;
  display: flex;
  background: #34495e8a;
}
.content-store-wrapper {
  min-height: 100% !important;
}
.store-category {
  width: 100%;
  text-align: center;
}
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
