.weapon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 2%;
}

.content-weapons-wrapper {
  justify-content: unset;
  height: unset !important;
}

.content-weapons {
  animation: fadein 0.5s;
  width: 90%;
  margin-top: 40px;
  box-shadow: 1px 1px 6px black;
  display: flex;
  height: fit-content;
  background: #34495e8a;
}

.weapons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

.line-weapon {
  width: 100%;
  display: inline-block;
}

.title-weapon {
  margin: 0;
  width: 100%;
  text-align: center;
}
