@media only screen and (max-width: 600px) {
  .title,
  .username {
    font-size: 40px;
    margin-bottom: 0;
  }
  .stat {
    font-size: 26px;
    text-align: center;
  }
  .label {
    font-size: 36px;
    margin-right: 7px;
  }
  .card {
    width: 100%;
  }
  .statbox {
    width: 100%;
    margin: 0;
  }
  .content-profile {
    width: 100%;
  }
  .category {
    margin: 0;
    font-size: 34px;
  }
  .sides-container {
    flex-direction: column;
  }
  .overall-box {
    width: 90%;
  }
  .leftSide,
  .rightSide {
    width: 100%;
  }
}
