.content-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: fit-content;
  padding-top: 10px;
  box-shadow: 1px 1px 6px black;
  animation: fadein 0.5s;
  align-items: center;
  width: 90%;
  background: #34495e8a;
}
.content-profile > a {
  margin-bottom: 30px;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.sides-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: fit-content;
  padding-top: 10px;
  animation: fadein 0.5s;
  align-items: center;
  width: 90%;
}
.content-profile-wrapper {
  justify-content: center;
  min-height: 100%;
}
.card {
  animation: fadein 0.5s;
  width: 100%;
  box-shadow: 1px 1px 3px black;
  background: #34495e8a;
  flex-direction: column;

  margin: 0 0 10px 0;
}

.platform-selector {
  display: flex;
  justify-content: center;
}
.leftSide,
.rightSide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}
.leftSide {
  flex: 2;
}
.rightSide {
  flex: 2;
}

.statbox {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
}
.statbox > .title,
.username {
  width: 100%;
  text-align: center;
}

.category {
  text-shadow: 1px 1px 3px black;
  color: white;
  margin: 5px 0 0 10%;
  font-size: 50px;
}
.overall {
  margin: 0;
  text-align: center;
}

.label {
  color: #e74c3c;
  text-shadow: 1px 1px 4px black;
  font-size: 36px;
  margin: 0;
  font-weight: 400;
}

.stat {
  text-shadow: 1px 1px 3px black;
  color: #ecf0f1;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
}
.stat-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.username {
  color: #e74c3c;
  font-size: 60px;
  text-shadow: 1px 1px 4px black;
  font-weight: 400;
  margin-bottom: 0;
  user-select: none;
}
.title {
  color: #ecf0f1;
  font-size: 60px;
  text-shadow: 1px 1px 4px black;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.line-small-red {
  height: 2px;
  width: 80%;
  margin-bottom: 5px;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#0000ff00),
    to(#0000ff00),
    color-stop(50%, #e74c3c)
  );
}
.line-red {
  height: 2px;
  width: 80%;
  margin-bottom: 5px;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#0000ff00),
    to(#0000ff00),
    color-stop(50%, #e74c3c)
  );
}
.overall-line {
  width: 50%;
  margin-left: 25%;
}
link {
  margin: 0;
  padding-bottom: 10px;
}
