.item-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #34495e8a;
  margin: 0 5px 10px 0;
  box-shadow: 1px 1px 5px black;
  padding: 5px;
  min-width: 260px;
  max-width: 260px;
}
.store-image {
  max-width: 250px;
  box-shadow: 1px 1px 3px black;
}
.vbucks-item-card {
  width: 15px;
  height: 15px;
}
.item-price {
  display: flex;
  justify-content: center;
  align-self: center;
}
.item {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}
