.item-card {
  background: #34495e8a;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px black;
  padding: 5px;
}
.store-image {
  width: 250px;
  box-shadow: 1px 1px 3px black;
}
.vbucks-item-card {
  width: 15px;
  height: 15px;
}
.item-price {
  display: flex;
  justify-content: center;
  align-self: center;
}
.item {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}
