* {
  font-family: "Burbank Big Condensed", sans-serif;
  user-select: none;
}
#root {
  height: 100%;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #34495e8a;
}
.content-frontpage {
  width: 80%;
  height: 100%;
  animation: fadein 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  box-shadow: 2px 2px 5px black;
  border: 0;
  height: 60px;
  font-size: 26px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.9;
  transition: 0.3s;
  background-color: #ecf0f1;
  margin: 30px 0 0 0;
  -webkit-user-select: text; /* MUST BE PRESENT TO WORK ON IPHONES*/
}
input:focus {
  opacity: 1;
  outline: none !important;
}
button {
  height: 30px;
  background-color: #e74c3c;
  text-shadow: 1px 1px 4px black;
  color: #ecf0f1;
  opacity: 0.8;
  margin: 2em;
  font-weight: 100;
  font-size: 22px;
  border: 0;
  transition: 0.3s;
  border-radius: 3px;
  letter-spacing: 1px;
}
button:hover {
  opacity: 1;
}
button:focus {
  outline: none !important;
}
.title-main {
  color: #ecf0f1;
  font-size: 60px;
  text-shadow: 1px 1px 4px black;
  font-weight: 100;
  margin: 0 0 0 0;
}
.line {
  height: 2px;
  width: 50%;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#0000ff00),
    to(#0000ff00),
    color-stop(50%, #ecf0f1)
  );
}

.recent {
  transition: 0.3s;
  display: inline;
  color: #e74c3c;
  text-shadow: 1px 1px 2px black;
  font-size: 20px;
}
.recent:hover {
  color: white;
  cursor: pointer;
}
.clear-recent {
  color: white;
  font-size: 16px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
